

.container{
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    gap: 1.4rem;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #efefefc6;
}
.h1{
    font-size: 2.4rem;
    color:#efeffe;
}
.userF{
    display: flex;
    gap: 1.6rem;
}
.userFp{
    font-size: 1.2rem;
    color: #efefefc6;
    background-color: rgba(64, 198, 232, 0.978);
    padding: 0.2rem 4.8rem 0.2rem 0.6rem;
    border-radius: 9px;
    text-align: left;
}