:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
/* make it global html */



html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
